

.content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 200%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 5px;
    clear: none;
}

.content-table thead tr{
    background-color: rgb(211, 211, 211);
    color: #5f5f5f;
    text-align: left;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}


.content-table tbody tr{
    color: #8d8d8d;
    background-color: #e0e0e0;
}



h1{
    font-size: 30px;
    font-weight: 5;
    margin-top: 60px;
    clear: both;
    color: #5f5f5f;
    padding: 5px;
    text-align: center;
}

.content-table a{
    color: rgb(95, 95, 95);
    text-decoration: none;
}

.content-table-2{
    border-collapse: collapse;
    font-size: 0.9em;
    margin-left: 100px;
    min-width: 650px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 5px;
    clear: none;
    
}

.content-table-2 thead tr{
    background-color: rgb(211, 211, 211);
    color: #5f5f5f;
    text-align: left;
    font-weight: bold;
}

.content-table-2 th, .content-table-2 td{
    padding: 12px 15px;
}


.content-table-2 tbody tr{
    color: #8d8d8d;
    background-color: #e0e0e0;
}


h2{
    font-size: 25px;
    font-weight: 5;
    margin-top: 0px;
    margin-left: 220px;
    clear: both;
    color: #5f5f5f;
    padding: 5px;
}

.content-table-2 a{
    color: rgb(83, 83, 83);
    text-decoration: none;
}

.row {
    margin-left:-5px;
    margin-right:-5px;
    margin-top: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
.column {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }
