
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
  }

  @font-face {
    font-family: 'PregnancyJourneyRegular-lgR7D';
    src: url(ff/PregnancyJourneyRegular-lgR7D.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.artist{
    position: absolute;
    float: left;
    left: 100px;
    top: 400px;
}



.artist ul{
    position: absolute;
    text-decoration: none;
    font-size: 17px;
}

.element{
    font-family: 'PregnancyJourneyRegular-lgR7D';
    padding: 0px;
    font-size: 50px;
    position: absolute;
}
#element-1{   
    color: #f2f2f2;
    margin-left: 770px;
    z-index: 1; 
}
#element-2{
     color:#8d8d8d49; 
     margin-left: 780px; 
     margin-top: 8px;
     z-index:2; }

.topnav {
    background-color:rgb(0, 0, 0);
    overflow: hidden;
  }
  

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

.topnav a:hover {
    background-color:#d3d3d3;
    color: black;
  }
  

.topnav a.active {
    background-color: #353535;
    color: #d3d3d3;
  }

.layout{
    background-image: 
    linear-gradient(
      rgba(116, 116, 116, 0.45), 
      rgb(0, 0, 0)
    ), url("images/Venue-safety-scaled-1.jpg");
    box-shadow: inset 0 0 0 1000px rgba(94, 94, 94, 0.027);
    background-position: 25% 75%;
    background-size: cover;
}

.container{
    width: 100%;
    min-height: 40vh;
    padding: 5%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search-bar{
    position: absolute;
    top: 200px;    
    width: 100%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none; 
    padding: 24px 20px;
    font-size: 20px;
    color: #8d8d8d;

}

::placeholder{
    color:#8d8d8d;
}

.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #353535;
    cursor: pointer;
}

.bottomLayout{
        background-image: linear-gradient(rgb(0, 0, 0), 
        rgb(0, 0, 0));
        padding-bottom: 150px;
}


.content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 525px;
    margin-left: 275px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 5px;
    clear: none;
}

.content-table thead tr{
    background-color: #353535;
    color: #f759108a;
    text-align: left;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}


.content-table tbody tr{
    color: #8d8d8d;
    background-color: #1f1f1f;
}



h1{
    font-size: 25px;
    font-weight: 5;
    margin-top: 100px;
    margin-left: 400px;
    clear: both;
    color: #8d8d8d;
    padding: 5px;
}

.content-table a{
    color: rgb(95, 95, 95);
    text-decoration: none;
}

.content-table-2{
    border-collapse: collapse;
    font-size: 0.9em;
    margin-left: 100px;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 5px;
    clear: none;
    
}

.content-table-2 thead tr{
    background-color: #353535;
    color: #f759108a;
    text-align: left;
    font-weight: bold;
}

.content-table-2 th, .content-table-2 td{
    padding: 12px 15px;
}


.content-table-2 tbody tr{
    color: #8d8d8d;
    background-color: #1f1f1f;
}


h2{
    font-size: 25px;
    font-weight: 5;
    margin-top: 100px;
    margin-left: 220px;
    clear: both;
    color: #8d8d8d;
    padding: 5px;
}

.content-table-2 a{
    color: rgb(95, 95, 95);
    text-decoration: none;
}

.row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  